.para1{
    background-color: bisque;
    flex: 1;
    order: 3;

}
.para2{
    background-color: blueviolet;
    flex: 2;
    order: 2;
}
.para3{
    background-color: brown;
    flex: 1;
    order: 1;
}
.container{
    display: flex;
    
}
p{
    padding: 20px;
    margin: 20px;
}
.container2{
    background-color: cadetblue;
    height: 500px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; */

}
.box{
    width: 100px;
    height: 100px;
    background-color: brown;
    border: 1px solid rgb(246, 243, 243);
}
.box2{
    background-color: blueviolet;
}