/* 1920*1080 */
body{
    background: url(../images/pexels-julia-filirovska-7138355.jpg);
    background-size: cover;
    /* background-position: center; */
}
.loginform{
    font-size: 32px;
    color: white;
    background-color: rgba(208, 195, 195,.3);
    width: 400px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 8px 8px 15px rgb(235, 147, 103),
                -8px -8px 15px rgb(235, 147, 103);
}
h2{
    color:rgb(241, 228, 37);
    text-align: center;
    text-transform: uppercase;
}
.input label{
    display: block;
    /* margin-bottom: 5px; */
}

.input input{
    width: 100%;
    font-size: 28px;
    padding: 0px 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
}
.btn{
    text-align: center;
    margin-top:20px ;
}
.btn button{
    text-align: center;
   margin: auto;
   width: 150px;
   font-size: 32px;
   padding: 10px;
   border-radius: 15px;
   background-color: aqua;
}
.radio input{
    transform: scale(2);
    margin-right: 20px;
}
.radio label{
    margin-right: 50px;
}