/* .box{
    width: 300px;
    height: 300px;
    background:linear-gradient(to bottom,rgb(6, 66, 6),rgb(245, 245, 59));
    margin:  100px auto;
} */
html{
    font-size:20px ;

}
.box{
    font-size: 16px;
}
#para1{
   font-size: 2em;
}
#para2{
 font-size: 2rem;
}
.container{
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
}