/* .para{
    background-color: cadetblue;
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
    gap: 20px;
    text-align: center;
} */

.layout{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows:10vh 80vh 10vh;
    background-color: cadetblue;
    grid-template-areas:"h h h" "sb1 m sb2" "f f f" ;
}
.head{
    grid-area: h;
}
.main{
    grid-area: m;
}
.sb1{
    grid-area: sb1 ;
}
.sb2{
    grid-area: sb2;
}
.foot{
    grid-area: f;
}
.layout div{
    border: 1px solid rgb(65, 92, 12);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}