.container{
    
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-template-rows: repeat(2fr 2fr 2fr);
    grid-template-areas: " h h h" "m sb1" "f";
    
}
.list ul li{
    display: inline-block;
    margin-right: 15px;
}