
.container{
 
    border-radius: 15px;
    width: 400px;
    margin: 100px auto;
    box-shadow: 10px 10px 20px gainsboro,
                -10px -10px 20px gainsboro;
    height: 300px;
}
h2{
    text-align: center;
    padding-top: 20px
   
}

.input input{
    width: 80%;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
    font-size: 18px;
    display: block;
    border: none;
    box-shadow: inset 2px 2px 10px gainsboro;
    border-radius: 10px;

}
#submit_btn{
    text-align: center;
    margin-top:80px ;
}
.input #otp{
    margin-top: 20px;
    text-align: center;
   margin-left: 40%;
    
}

#submit_btn button{
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background:linear-gradient(red,blue);
    color: white;
    font-weight: bold;
}