*{
    font-family: monospace;
}
    

h1{
    color:red;
    font-size: 32px;
    text-align: center;
}
h1{
    color:rgb(68, 218, 22);
    font-size: 32px;
    text-align: center;
}
#abc{
    color:rgb(218, 22, 84);
    font-size: 32px;
    text-align: center;
}

p{
    text-indent: 50px;
    text-transform:capitalize;
    font-weight: bold;
}

p::first-letter{
    font-size: 50px;
}