table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;

}
td{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;
}
table{
    box-shadow: 5px 5px 10px orange,
    -5px -5px 10px blue;
}

tr:nth-child(odd) td:nth-child(even),tr:nth-child(even) td:nth-child(odd){
    background-color:yellowgreen;
}
 
