.layout{
    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 10vh 80vh 20vh 10vh;
    background-color: rgb(193, 193, 249);
    grid-template-areas: "h h h"
                         "sb1 m sb2 "
                         "fb1 fb2 fb3"
                         "f f f";
}
.head{
    grid-area: h;
    background-color: rgb(37, 156, 61);
    
}
.main{
grid-area: m;
background-color:purple ;
}
.sb1{
    grid-area: sb1;
    background-color: rgb(128, 51, 98);
}
.sb2{
    grid-area: sb2;
    background-color: rgb(225, 58, 247);
}
.fb{
    background-color: rgb(78, 107, 202);
}
.fb1{
    grid-area: fb1;
    
}
.fb2{
    grid-area: fb2;
    
}
.fb3{
    grid-area: fb3;
    
}


.foot{
    grid-area: f;
    background-color: rgb(169, 169, 227);
}
.layout div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(7, 8, 8);
}