.container{
    text-align: center;
    border: 1px solid black;
    width: 400px;
    margin:  150px auto;
    padding: 30px;
    
    
}
.inputs input{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 24px;
    padding: 10px 10px;
    border-radius: 5px;
}
.button button{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 24px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgb(183, 183, 249);
}

.container img{
    width:200px ;
    margin-bottom: 20px;
}

    
    




    
