body{margin: 0% !important;
    overflow: hidden;
}
#loginpage{    background: url(../images/netflixteaser.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    position: relative;
}
.product_logo img{
    width: 162px;
    height: 67px;
      
}
.product_logo{
    position: relative;
    left: 14%;

}
.loginform{
 
    font-size: 24px;
    color: rgb(252, 233, 233);
    background-color: rgba(10, 9, 9, 0.5);
    width: 400px;
    padding: 50px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);


    left: 50%;
    
}
input{
    color: whitesmoke;
}
/* #abc{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    
    
} */
a {  
    margin-left: 106px; 
    color: red;   
}

a:active {
    color: yellow;
}

a[tabindex]:focus {
    color:yellow;
    outline: none;
}
input{
    width: 100%;
    padding: 20px 20px ;
    box-sizing: border-box;
    margin-bottom:15px ;
    border-radius:4px ;
    font-size: 25px;
    background-color: rgba(21, 19, 19,0.5);
    border: 1px solid rgb(133, 126, 126);
     
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
.btn button{
width: 100%;
padding: 16px 16px;
font-size: 25px;
background-color: red;
color: white;
border: 1px solid rgb(241, 7, 7);
border-radius: 4px;
}

.forgot{
    margin-top: 46px 
}
/* .radio{
    
    
} */

