table,tr,td,th{
    border: 1px solid rgb(112, 7, 94);
    border-collapse: collapse;
}
table{
    margin: auto;
    width: 500px;
    height: 100px;
}
#a{
    text-align: center;
    
}
#y{
    padding-bottom: 30px;
    padding-top: 10px;
}